{{!-- Add Genre Form --}}
<!DOCTYPE html>
<html>
<head>
    <title>Add A New Genre</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<main>
<h1>Add A New Genre</h1>

<form id="add-genre-form" method="POST" action="/add-genre-form">
  <fieldset>
    <label for="input-genreName">Genre: </label>
    <input type="text" name="input-genreName" id="input-genreName" required>

    <button>Add Genre</button>

  </fieldset>
</form>
</body>
</main>

