{{!-- Add Actor Form --}}
<!DOCTYPE html>
<html>
<head>
    <title>Add A New Actor</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
    <main>
        <h1>Add A New Actor</h1>

        <form id="add-actors-form" method="POST" action="/add-actors-form">
            <fieldset>
                <label for="input-actorName">Actor Name: </label>
                <input type="text" name="input-actorName" id="input-actorName" required>

                <label for="input-languageName">Language: </label>
                <select name="input-languageName" >
                </select>

                <button>Add Actor</button>
            </fieldset>
        </form>

            <script>
            // Fetching languages to populate the dropdown
            async function fetchLanguages() {
                try {
                    const response = await fetch('/get-languages');
                    const languages = await response.json();

                    const languageDropdown = document.querySelector('select[name="input-languageName"]');

                    // Adding a blank option
                    const blankOption = document.createElement('option');
                    blankOption.value = '';
                    blankOption.textContent = '';
                    languageDropdown.appendChild(blankOption);

                    // Adding an option for each language
                    languages.forEach((language) => {
                        const option = document.createElement('option');
                        option.value = language.languageID;
                        option.textContent = language.languageName;
                        languageDropdown.appendChild(option);
                    });
                } catch (error) {
                    console.error('Error fetching languages:', error);
                }
            }

            // Calling fetchLanguages function when the page loads
            document.addEventListener('DOMContentLoaded', fetchLanguages);
        </script>

    </main>
</body>
</html>
