{{!-- Error --}}
<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<main>
<h1>Error</h1>
<form id="error" method="POST" action="/error">

<p>Entry already exists. Please try again with a unique entry.</p>
</form>
<button onclick="history.back()">Return To Previous</button>
</body>
</main>

