<!-- index.hbs -->
 <main>
        <h1>Welcome to The Movie DB!</h1>
        <p>The Movie DB is a comprehensive platform designed for movie enthusiasts, focusing exclusively on movie content. </p>
</main>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

